@font-face {
    font-family: 'bloodynormal';
    src: url('../fonts/BLOODY-webfont.eot');
    src: url('../fonts/BLOODY-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BLOODY-webfont.woff2') format('woff2'),
    url('../fonts/BLOODY-webfont.woff') format('woff'),
    url('../fonts/BLOODY-webfont.ttf') format('truetype'),
    url('../fonts/BLOODY-webfont.svg#bloodynormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100%;
    background:
            linear-gradient(81deg,transparent 86.3%,#eee 86.3%,#eee),
            linear-gradient(72deg,transparent 75.4%,#ddd 75.4%,#ddd),
            linear-gradient(63deg,transparent 66.25%,#eee 66.25%,#eee),
            linear-gradient(54deg,transparent 57.85%,#ddd 57.85%,#ddd),
            linear-gradient(45deg,transparent 49.9%,#eee 49.9%,#eee),
            linear-gradient(36deg,transparent 41.96%,#ddd 41.96%,#ddd),
            linear-gradient(27deg,transparent 33.6%,#eee 33.6%,#eee),
            linear-gradient(18deg,transparent 24.35%,#ddd 24.35%,#ddd),
            linear-gradient(9deg,transparent 13.6%,#eee 13.6%,#eee);
    background-position: 0 0;
    background-color: #ddd;
    /*background-size: 80px 80px;*/
}

label{
    font-family: bloodynormal;
}

h1 {
    font-family: bloodynormal;
    text-align: center;
    color: red;
    border-radius: 50%;
    shape-outside: circle();
}

legend {
    font-family: bloodynormal;
    color: red;
    border-radius: 50%;
    shape-outside: circle();
}

.col-sm-2.right {
    font-family: bloodynormal;
    text-align: right;
}

.col-sm-2.left {
    font-family: bloodynormal;
    text-align: left;
}

.modal-title {
    font-family: bloodynormal;
    text-align: center;
    color: red;
}

#splashImageNewGame{
    margin-top: 100px;
    /*margin-left: 30px;*/
}

.modal.modal-wide .modal-dialog {
    width: 90%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}

input {
    margin-top: 5px;

}

.floatingPlayer{
    margin-left: 12px;
}